@using ERPAnimalia.Models;
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/AddControl.css" rel="stylesheet" />
    @model ProductModels
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lista de Producto</title>

</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#CodigoBarra').focus();

            $('#PrecioVenta').blur(function () {
                CalculateRentabilidadDropDown();
            });
        })


        function CalculateRentabilidadDropDown()
        {
            debugger;
            
            var precioVenta = $('#PrecioVenta').val();
            var precioCosto = $('#PrecioCosto').val();
            precioVenta = precioVenta.toString().replace(",", ".");
            precioCosto = precioCosto.toString().replace(",", ".");
            precioVenta = parseFloat(precioVenta);
            precioCosto = parseFloat(precioCosto);

            idSubcategory = $('#IdSubCategory').val();
            if (precioVenta != '0' && precioCosto != '0') {


                if (idSubcategory == 1) {

                    var kg = $('#kg').val();
                    kg = kg.toString().replace(",", ".");
                    var kgXP = (precioCosto / kg);
                    var rentPesos = (precioVenta - kgXP);
                    var rentPorc = (1 - (kgXP / precioVenta)) * 100;

                    $('#RentabilidadPesos').val(rentPesos.toFixed(2).toString().replace(".", ","));
                    $('#Rentabilidad').val(rentPorc.toFixed(2).toString().replace(".", ","));

                }
                else {

                    var rentPesos = (precioVenta - precioCosto);
                    var rentPorc = (1 - (precioCosto / precioVenta)) * 100;

                    $('#RentabilidadPesos').val(rentPesos.toFixed(2).toString().replace(".", ","));

                    $('#Rentabilidad').val(rentPorc.toFixed(2).toString().replace(".", ","));

                }
                $('#PrecioVenta').val(precioVenta.toString().replace(".", ","));
                $('#PrecioCosto').val(precioCosto.toString().replace(".", ","));
            }
        }


        //function CalculationRentabilidad()
        //{
        //    debugger;
        //    var precioVenta = $('#PrecioVenta').val();
        //    var precioCosto = $('#PrecioCosto').val();
        //    //precioVenta = precioVenta.toString().replace(".", ".");
        //    //precioCosto = precioCosto.toString().replace(",", ".");
        //    precioVenta = parseFloat(precioVenta);
        //    precioCosto = parseFloat(precioCosto);

        //    idSubcategory = $('#IdSubCategory').val();
        //    if (precioVenta != '0' && precioCosto != '0')
        //    {

           
        //    if (idSubcategory == 1 ) {
                
        //        var kg = $('#kg').val();
        //        var kgXP = (precioCosto / kg);
        //        var rentPesos = (precioVenta - kgXP);
        //        var rentPorc = (1 - (kgXP / precioVenta)) * 100;

        //        $('#RentabilidadPesos').val(rentPesos.toFixed(2).toString().replace(".", ","));
        //        $('#Rentabilidad').val(rentPorc.toFixed(2).toString().replace(".", ","));
                
        //    }
        //    else {
                
        //        var rentPesos = (precioVenta - precioCosto);
        //        var rentPorc = (1 - (precioCosto / precioVenta)) * 100;

        //        $('#RentabilidadPesos').val(rentPesos.toFixed(2).toString().replace(".", ","));

        //        $('#Rentabilidad').val(rentPorc.toFixed(2).toString().replace(".", ","));

        //    }
        //    $('#PrecioVenta').val(precioVenta.toString().replace(".", ","));
        //    $('#PrecioCosto').val(precioCosto.toString().replace(".", ","));
        //  }
        //}

        function MyFunction() {
          

            $('#CodigoBarra').focus();

            //var _Filepath = $("#CodigoBarra").val();
            //$.ajax({ url: "/Product/ReadBarcodeFromFile", type: "POST", data: { _Filepath: _Filepath } })
            //    .done(function (data) {

            //        gridProduct.clear();
            //        alert("La orden fue guardad con éxito");
            //        gridProduct.reload();
            //    })
            //    .fail(function () {
            //        alert("Unable to save.");

            //    });
        }


        function HideSubcategory() {
           
            var idCategory = $('#IdCategory').val();
            if (idCategory == 2) {
                $('#IdSubCategory').val(1);
                $('#IdSubCategory').attr('disabled', 'disabled');
                $('#kg').hide();
                $('#kgLabel').hide();
            }
            else {
                $('#IdSubCategory').val(0);
                $('#IdSubCategory').removeAttr('disabled');
                $('#kg').show();
                $('#kgLabel').show();
            }
        }


    </script>
    </br>
    </br>
    <div class="container-fluid">

       
@using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
{

            <div class="form-group">
                @Html.ValidationSummary(true);
            </div>

            <div class="col-md-6">
               
                <div class="form-group">
                    <label class="col-md-4" for="pwd">Código de barra:</label>
                    @Html.TextBoxFor(m => m.CodigoBarra, new { @class = "form-control", type = "text", placeholder = "Ingrese Codigo Barra", onkeyPress = "MyFunction();" })
                </div>
                <div class="form-group">
                    <label class="col-md-4">Código:</label>
                    @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control", placeholder = "Ingrese el código" })

                </div>
                <div class="form-group">
                    <label class="col-md-4" for="desc">Categoria:</label>
                    @Html.DropDownListFor(model => Model.IdCategory,
             new SelectList(Model.Category, "IdCategory", "Name"), new { @class = "form-control", type = "text", placeholder = "Seleccione Categoria", onchange = "HideSubcategory()" })

                </div><div class="form-group">
                    <label class="col-md-4" for="desc">Subcategoria:</label>
                    @Html.DropDownListFor(model => model.IdSubCategory,
             new SelectList(Model.SubCategory, "IdSubCategory", "Name"), new { @class = "form-control", type = "text", placeholder = "Seleccione Categoria" , @onchange = "CalculateRentabilidadDropDown()" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="desc">Marca:</label>
                    @Html.TextBoxFor(m => m.Marca, new { @class = "form-control", type = "text", placeholder = "Ingrese Marca" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="desc">Descripción1:</label>
                    @Html.TextBoxFor(m => m.Descripcion1, new { @class = "form-control", type = "text", placeholder = "Ingrese Descripción1" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="desc">Descripción2:</label>
                    @Html.TextBoxFor(m => m.Descripcion2, new { @class = "form-control", type = "text", placeholder = "Ingrese Descripción2" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4" for="cant">Presentación:</label>
                    @Html.TextBoxFor(m => m.Presentacion, new { @class = "form-control", type = "text", placeholder = "Ingrese Presentación" })

                </div>


                <div class="form-group">
                    <label class="col-md-4" id="kgLabel" for="kg">Kg:</label>
                    @Html.TextBoxFor(m => m.kg, new { @class = "form-control", type = "text", placeholder = "Ingrese Kg" })


                </div>

                <div class="form-group">
                    <label class="col-md-4" for="cant">Cantidad:</label>
                    @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control", type = "number", @min = "0", @max = "90", placeholder = "Ingrese Cantidad" })

                </div>

                <div class="form-group">
                    <label class="col-md-4" for="pwd">Precio Costo</label>
                    @Html.TextBoxFor(m => m.PrecioCosto, "{0:F2}", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="pwd">Precio Venta</label>
                    @Html.TextBoxFor(m => m.PrecioVenta, "{0:F2}", new {  @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="rentabilidad$">Rentabilidad $</label>
                    @Html.TextBoxFor(m => m.RentabilidadPesos,  new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="col-md-4" for="rentabilidad%">Rentabilidad %</label>
                    @Html.TextBoxFor(m => m.Rentabilidad, "{0:c}" ,new { @class = "form-control" })
                </div>


            </div>
        <button type="submit" class="btn btn-primary">Agregar Producto</button>
        
}
    </div>
</body>
</html>

