@using ERPAnimalia.Models;
<!DOCTYPE html>
<html>
<head>

    @model ProductModels
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lista de Producto</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Rentabilidad').addClass('form-control');
            $('#RentabilidadPesos').addClass('form-control');
            $('#PrecioVenta').addClass('form-control');
            $('#PrecioCosto').addClass('form-control');
            $('#Cantidad').addClass('form-control');
            $('#CodigoBarra').focus();

            $('#PrecioVenta').blur(function () {
                debugger;
                CalculationRentabilidad();
            });
        })


        function CalculationRentabilidad() {
            debugger;

           
            var precioVenta = $('#PrecioVenta').val();
            var precioCosto = $('#PrecioCosto').val();

            precioVenta = precioVenta.toString().replace(",", ".");
            precioCosto = precioCosto.toString().replace(",", ".");

            precioVenta = parseFloat(precioVenta);
            precioCosto = parseFloat(precioCosto);

            idSubcategory = $('#IdSubCategory').val();
            if (precioVenta != '0' && precioCosto != '0') {


                if (idSubcategory == 1) {

                    var kg = $('#kg').val();
                    kg = kg.toString().replace(",", ".");
                    var kgXP = (precioCosto / kg);
                    var rentPesos = (precioVenta - kgXP);
                    var rentPorc = (1 - (kgXP / precioVenta)) * 100;

                    $('#RentabilidadPesos').val(rentPesos.toFixed(2).toString().replace(".", ","));
                    $('#Rentabilidad').val(rentPorc.toFixed(2).toString().replace(".", ","));

                }
                else {

                    var rentPesos = (precioVenta - precioCosto);
                    var rentPorc = (1 - (precioCosto / precioVenta)) * 100;

                    $('#RentabilidadPesos').val(rentPesos.toFixed(2).toString().replace(".", ","));

                    $('#Rentabilidad').val(rentPorc.toFixed(2).toString().replace(".", ","));

                }
                $('#PrecioVenta').val(precioVenta.toString().replace(".", ","));
                $('#PrecioCosto').val(precioCosto.toString().replace(".", ","));
            }
        }
            function HideSubcategory()
            {
                var idCategory = $('#IdCategory').val();
                if(idCategory== 2)
                {
                    $('#IdSubCategory').val(1);
                    $('#IdSubCategory').attr('disabled', 'disabled');
                    $('#kg').hide();
                    $('#kgLabel').hide();
                }
                else
                {
                    $('#IdSubCategory').val(0);
                    $('#IdSubCategory').removeAttr('disabled');
                    $('#kg').show();
                    $('#kgLabel').show();
                }
            }

            
    </script>

</head>
<body>

    @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.IdProducto)
        <div class="form-group">
            <label class="col-md-4" for="pwd">Código de barra:</label>
            @Html.TextBoxFor(m => m.CodigoBarra, new { @class = "form-control", type = "text", placeholder = "Ingrese Codigo Barra" })
        </div>
        <div class="form-group">
            <label class="col-md-4" for="desc">Código:</label>
                @Html.EditorFor(m => m.Codigo, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Ingrese el código" } })
        </div>
        <div class="form-group">
            <label class="col-md-4" for="desc">Categoria:</label>
            @Html.DropDownListFor(model => Model.CategoryItem.IdCategory,
                        new SelectList(Model.Category, "IdCategory", "Name"), new { @class = "form-control", type = "text", placeholder = "Seleccione Categoria", onchange = "HideSubcategory()", @id= "IdCategory" })

        </div>
        <div class="form-group">
            <label class="col-md-4" for="desc">Subcategoria:</label>
            @Html.DropDownListFor(model => model.SubCategoryItem.IdSubCategory,
                        new SelectList(Model.SubCategory, "IdSubCategory", "Name"),  new { @class = "form-control", type = "text", placeholder = "Seleccione Categoria", @onchange = "CalculationRentabilidad()" })
        </div>
        <div class="form-group">
            <label class="col-md-4" for="desc">Marca:</label>
            @Html.TextBoxFor(m => m.Marca, new { @class = "form-control", type = "text", placeholder = "Ingrese Marca" })
        </div>
        <div class="form-group">
            <label class="col-md-4" for="desc">Descripción1:</label>
            @Html.TextBoxFor(m => m.Descripcion1, new { @class = "form-control", type = "text", placeholder = "Ingrese Descripción1" })
        </div>
                    <div class="form-group">
                        <label class="col-md-4" for="desc">Descripción2:</label>
                        @Html.TextBoxFor(m => m.Descripcion2, new { @class = "form-control", type = "text", placeholder = "Ingrese Descripción2" })
                    </div>

                   
                        <div class="form-group">
                            <label class="col-md-4" for="cant">Presentación:</label>
                            @Html.TextBoxFor(m => m.Presentacion, new { @class = "form-control", type = "text", placeholder = "Ingrese Presentación" })

                        </div>
                   

                    <div class="form-group">
                        <label class="col-md-4">Kg:</label>
                        @Html.TextBoxFor(m => m.kg, new { @class = "form-control", type = "text", placeholder = "Ingrese Kg" })


                    </div>

                        <div class="form-group">
                            <label class="col-md-4">Cantidad:</label>
                            @Html.EditorFor(m => m.Cantidad, new { @class = "form-control", type = "number", @min = "0", @max = "90", placeholder = "Ingrese Cantidad"  })

                        </div>

                        <div class="form-group">
                            <label class="col-md-4" >Precio Costo</label>
                            @Html.EditorFor(m => m.PrecioCosto,   new { @class = "form-control", type = "text",placeholder = "Precio Costo"  })
                        </div>
                        <div class="form-group">
                            <label class="col-md-4" >Precio Venta</label>
                            @Html.EditorFor(m => m.PrecioVenta,   new { @class = "form-control", type = "text", placeholder = "Precio Venta" })
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Rentabilidad $</label>
                            @Html.EditorFor(m => m.RentabilidadPesos, new {  @class = "form-control", type = "text" })
                        </div>
                            <div class="form-group">
                                <label class="col-md-4">Rentabilidad %</label>
                                @Html.EditorFor(m => m.Rentabilidad,  new { @class = "form-control", type = "text" })
                            </div>



                        <button type="submit" class="btn btn-primary">Guardar Producto</button>
    }

</body>

</html>

