@using ERPAnimalia.Models;
<!DOCTYPE html>
<html>
<head>

    @model ProductModels
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lista de Producto</title>

</head>
<body>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.IdProduct)
        <div class="form-group">
            <label class="control-label col-sm-2">Código:</label>
            <div class="col-sm-10">
               
                @Html.EditorFor(m => m.Codigo, new { @class = "form-control", type = "text", placeholder = "Ingrese el código" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="usr">Nombre:</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.Name, new { @class = "form-control", type = "text" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="desc">Descripción:</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.Description, new { @class = "form-control", type = "text" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="cant">Cantidad:</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.quantity, new { @class = "form-control", type = "text" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="kg">Kg:</label>
            <div class="col-sm-10">
                @Html.EditorFor(m => m.kg, new { @class = "form-control", type = "text" })

            </div>
        </div>

        @*<div class="form-group">
            <label for="pwd">Código de barra:</label>
            @Html.TextBoxFor(m => m.barCode, new { @class = "form-control", type = "text")
        </div>*@

        <button type="submit"   class="btn btn-primary">Guardar Producto</button>
}
</body>

</html>

