@using ERPAnimalia.Models;

<!DOCTYPE html>

@model ERPAnimalia.Models.VoucherDetailModel
<html>


    <head>
        
        <meta name="viewport" content="width=device-width" />
        <title>Factura</title>

    </head>
<body>
    <table id="grid"></table>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#Descripcion1").autocomplete({

                source: function (request, response) {
                    debugger;
                    $.ajax({
                        url: "/Voucher/GetProduct",
                        type: "POST", dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                debugger;
                                return { label: item.Descripcion1, value: item.Descripcion1 };
                            }));
                        }
                    });
                },
                messages: { noResults: "", results: "" }
            });                           
        });

    </script>
    <div class="container-fluid">
        @{
            Html.RenderPartial("HeadVoucher");
        }
                <!-- Nav tabs -->
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#productTab" aria-controls="productoTab" role="tab" data-toggle="tab">Product</a>
                        </li>
                        <li role="presentation">
                            <a href="#informationTab" aria-controls="informationTab" role="tab" data-toggle="tab">Informacion</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="productTab">
                            <h4>Datos</h4>
                            <form class="form-horizontal">

                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="control-label col-md-2">Producto:</label>
                                        @Html.EditorFor(model => model.ProductModel.First().Descripcion1, new { htmlAttributes = new { @class = "form-control col-md-offset-3" } })
                                    </div>
                                </div>
                            </form>
                            </br>
                            </br>
                            <form class="form-group">
                                
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label col-md-2">Producto:</label>
                                        @Html.EditorFor(model => model.ProductModel.First().Descripcion1, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label col-md-2">Cantidad:</label>
                                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label col-md-2">Precio:</label>
                                        @Html.EditorFor(model => model.ProductModel.First().ListaPrecio.First().PrecioVenta, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label col-md-2">Descuento:</label>
                                        @Html.EditorFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label col-md-2">Impuesto:</label>
                                        @Html.EditorFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control " } })
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label col-md-2">Subtotal:</label>
                                        @Html.EditorFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
</form>
                                @*<div class="col-md-2">
                <div class="col-md-4">
                    <button type="button" id="btnAdd" class="btn btn-default pull-right">Agregar Cliente</button>
                </div>
                <table id="gridVoucher"></table>
            </div>*@




                                <div class="col-md-5">
                                    <label class="control-label col-md-1">Cantidad:</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control col-md-offset-7" } })
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="informationTab">

                                </div>
</div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            
    
</body>
</html>
